<div class="post-card row justify-space-between">
    <div>
        <h3><a href="/posts/{{id}}">{{title}}</a></h3>
        <p class="small">Created on: {{format_date createdAt}}</p>
        <p class="small">Last edited: {{format_date updatedAt}}</p>
    </div>
    <button class="btn edit-btn justify-space-between" data-post-id="{{id}}">Edit this Post</button>
</div>