<div class="post-card column home-post-card">
    <div>
        <h3><a href="/posts/{{id}}">{{title}}</a></h3>
        <p class="small">Created by {{user.username}} on {{format_date createdAt}}</p>
    </div>
    <article>
        <p>{{text}}</p>
        <p class="small to-bottom">Last edited: {{format_date updatedAt}}</p>
    </article>
</div>