<div class="text-center">
    <h2>{{post.title}}</h2>
    <p>{{post.text}}</p>
    <p>Created by {{post.user.username}} on {{post.createdAt}}</p>
    <button class="btn btn-primary">Leave a comment!</button>
    {{#each post.comments as |comment| }}
    <p>{{comment.text}}</p>
    <p>Created by {{comment.user.username}} on {{comment.createdAt}}</p>
    {{/each}}
</div>